body {
    background-color: #5a5454;
}
p {
    color: white;
    font-size: 20px;
    text-align: center;
}
#showMistakes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    display: grid;
    justify-content: center;
    align-items: center;
}
.square {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: -3px;
}
.state-0 {
    background-color: #a39898;
}
.state-1 {
    background-color: #82c0f6;
}
.state-2 {
    background-color: #f7f7f7;
}
.incorrect {
    background-color: #f67e7e;
}
.button {
    background-color: #4CAF50; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: 1px solid #4CAF50;
    border-radius: 15px;
    cursor: pointer;
    justify-content: space-around;
}
.button:hover {
    background-color: #45a049;
    color: white;
}